node_modules/
.expo/
dist/
coverage/
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist
*.aab
*.apk
.maestro/results/
sentry.properties
**/sentry.properties
.env.sentry-build-plugin
